    <div>
    <div fxLayout="row" class="mat-display-4" >
      <div fxFlex>
        <button mat-button [routerLink]="['home']"><i class="material-icons">home</i></button>
      </div>
      <div fxFlex>
        <button mat-button [routerLink]="['signup']">Signup</button>
      </div>
      <div fxFlex>
          <button mat-button >Log in</button>
      </div>
      <div fxFlex>
          <button mat-button  class="nav-item nav-link-edit" [routerLink]="['chefSignUp']" >Become a Chef</button>
      </div>
    </div>
   </div>
   <div class="viewContainer">
    <router-outlet></router-outlet>
  </div>

