<div>
    <mat-card>
    <mat-card-title>Registration</mat-card-title>
    <form ngForm #signupForm class="form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="user.firstname" name="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" name="name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Address" [(ngModel)]="user.address" name="name"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="State"  name="select" (selectionChange)="onStateChanged($event.value)"  [(ngModel)]="user.state" name="name">
          <mat-option *ngFor="let state of states"  value="{{state}}">{{state}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
          <mat-select placeholder="City"   [(ngModel)]="user.city" name="name">
            <mat-option *ngFor="let city of cities" value="{{city}}">{{city}}</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Zip"  [(ngModel)]="user.zip" name="name"></textarea>
    </mat-form-field>
    <button
    (click)="onRegisterUser()"
    routerLink="/home"
    mat-raised-button
    color='primary'>Register
   </button>
  </form>
</mat-card>
  </div>
